        <nav class="second-nav">
          <ul class="second-nav-list">
            <li class="second-nav-item">
              <a href="#" class="second-nav-link">
                Shop
              </a>
            </li>
            <li class="second-nav-item dropdown-li">
              <a href="#" class="second-nav-link">
                Gift Ideas
              </a>
              <ul class="dropdown">
                <li class="dropdown-item">
                   <%= link_to "Under $25",  gift_ideas_path, class: "dropdown-link" %>
<!--                   <a href="" class="dropdown-link">
                    Under $25
                  </a> -->
                </li>
                <li class="dropdown-item">
                   <%= link_to "$25 - $50",  gift_ideas_path, class: "dropdown-link" %>
<!--                   <a href="" class="dropdown-link">
                    $25 - $50
                  </a> -->
                </li>
                <li class="dropdown-item">
                   <%= link_to "Above $50",  gift_ideas_path, class: "dropdown-link" %>
                 <!--  <a href="" class="dropdown-link">
                    Above $50
                  </a> -->
                </li>
              </ul>
            </li>
            <li class="second-nav-item">
              <%= link_to "About",  about_path, class: "second-nav-link" %>
            </li>
            <li class="second-nav-item">
               <%= link_to "Our Team",  our_team_path, class: "second-nav-link" %>
<!--               <a href="#" class="second-nav-link">
                Our Team
              </a> -->
            </li>
            <li class="second-nav-item">
               <%= link_to "News",  news_path, class: "second-nav-link" %>
              <!-- <a href="#" class="second-nav-link">
                News
              </a> -->
            </li>
          </ul>
        </nav>
