<!DOCTYPE html>
<html>
  <head>
    <title>MusicStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <!-- whole site wrapped in -->
    <div class="container">
      <%= yield %>

      <!-- header -->
      <header class="header">
      <!-- Logo -->
        <div class="logo">
          <img src="assets/planet.png" alt="logo" class="logo-img">
        </div>
        <!-- nav -->
        <%= render 'components/nav' %>
        <!-- heading -->
        <div class="heading">
          <%= link_to "Music Store", root_path, class: "heading-text" %>
          <!-- <h1 class="heading-text">Music Store</h1> -->
        </div>
        <!-- second nav -->
        <%= render 'components/nav2' %>
      </header>
      <!-- End of header -->


    </div>

  </body>
</html>








