<!DOCTYPE html>
<html>
  <head>
    <title>MusicStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <!-- whole site wrapped in -->
    <div class="container">
      <header class="header">
      <!-- Logo -->
        <div class="logo">
          <img src="assets/planet.png" alt="logo" class="logo-img">
        </div>

        <!-- nav -->
        <nav class="first-nav">
          <ul class="first-nav-list">
            <li class="first-nav-item">
              <a href="" class="first-nav-link">

                Contact Us
              </a>
            </li>
            <li class="first-nav-item">
              <a href="" class="first-nav-link">
                <i class="fas fa-search"></i>
                Search
              </a>
            </li>
            <li class="first-nav-item">
              <a href="" class="first-nav-link">

                Sign In
              </a>
            </li>
            <li class="first-nav-item">
              <a href="" class="first-nav-link">
                <i class="fas fa-shopping-cart"></i>
                (0)
              </a>
            </li>
          </ul>
        </nav>

        <div class="heading">
          <h1 class="heading-text">Music Store</h1>
        </div>

        <nav class="second-nav">
          <ul class="second-nav-list">
            <li class="second-nav-item">
              <a href="#" class="second-nav-link">
                Shop
              </a>
            </li>
            <li class="second-nav-item">
              <a href="#" class="second-nav-link dropdown-li">
                Gift Ideas
              </a>
              <ul class="dropdown">
                <li class="dropdown-item">
                  <a href="" class="dropdown-link">
                    Under $25
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="" class="dropdown-link">
                    $25 - $50
                  </a>
                </li>
                <li class="dropdown-item">
                  <a href="" class="dropdown-link">
                    Above $50
                  </a>
                </li>
              </ul>
            </li>
            <li class="second-nav-item">
              <a href="#" class="second-nav-link">
                About Us
              </a>
            </li>
            <li class="second-nav-item">
              <a href="#" class="second-nav-link">
                Our Team
              </a>
            </li>
            <li class="second-nav-item">
              <a href="#" class="second-nav-link">
                News
              </a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <%= yield %>
  </body>
</html>








